html
.col1{
    border: 1px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    width:24%;
    text-align: center;
    background-color: burlywood;
    font-family:cursive;
    padding: 15px;
    border-radius: 15px;
}
.col1:hover {
    background-color: bisque;
}
.col2{
    border: 1px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    width:24%;
    text-align: center;
    background-color: burlywood;
    font-family:cursive;
    padding: 15px;
    border-radius: 15px;
}
.col2:hover {
    background-color: bisque;
}
.col3{
    border: 1px;
    border-color: black;
    border-style:solid;
    display: inline-block;
    width:24%;
    text-align: center;
    background-color: burlywood;
    font-family:cursive;
    padding: 15px;
    border-radius: 15px;
}
    .col3:hover {
        background-color: bisque;
}
.col4{
    border: 1px;
    border-color: black;
    border-style:solid;
    display: inline-block;
    width:24%;
    text-align: center;
    background-color:burlywood;
    font-family:cursive;
    padding: 15px;
    border-radius: 15px;
}
.col4:hover {
    background-color: bisque;
}
.rule1{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}
.rule2{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}
.rule3{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}
.rule4{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}