html
.col1{
    border: 1px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    width:24%;
    text-align: center;
    background-color: burlywood;
    font-family:cursive;
    padding: 15px;
}
.col1:hover {
    background-color: bisque;
}
.col2{
    border: 1px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    width:24%;
    text-align: center;
    background-color: burlywood;
    font-family:cursive;
    padding: 15px;
}
.col2:hover {
    background-color: bisque;
}
.col3{
    border: 1px;
    border-color: black;
    border-style:solid;
    display: inline-block;
    width:24%;
    text-align: center;
    background-color: burlywood;
    font-family:cursive;
    padding: 15px;
}
    .col3:hover {
        background-color: bisque;
}
.col4{
    border: 1px;
    border-color: black;
    border-style:solid;
    display: inline-block;
    width:24%;
    text-align: center;
    background-color: burlywood;
    font-family:cursive;
    padding: 15px;
}
.col4:hover {
    background-color: bisque;
}